.container{
  height: 450px;
  width: 95%;
  margin: auto;
  padding-bottom: 40px;
  color: #fff;
  h2{
    text-transform: uppercase;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
  }
  .containerCard{
    display: flex;
    height: calc(100% - 30px);
    position: relative;
    .next,
    .prev{
      position: absolute;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 35px;
      color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      &:hover{
        transform: translateY(-50%) scale(1.2);
      }
    }
    .next{
      right: 10px;
    }
    .prev{
      left: 10px;
    }
  }
}
